#!/bin/bash
# compose.rc

# import VPN_NAME, VPN_PW, RMT_USERNAME, RMT_PW
. $(dirname "$0")/vpn.cmds
. $(dirname "$0")/vpn.creds 

if [ ! -f /base/configs/.zshrc ] ; then
  cp /base/zshrc_min /base/configs/.zshrc
fi
ln -s /base/configs/.zshrc $(echo $HOME)/
# wrong docker dns fix
RESOLV_TEXT=$(cat /etc/resolv.conf | tr \\n / | sed -r 's/\//\\n'/g) \
  && echo -e "nameserver 8.8.8.8\n"$RESOLV_TEXT > /etc/resolv.conf
cp /base/update-resolv.sh /etc/$VPN_ETC_DIR
$VPN_SYSINIT_CMD
# show creds
grep VPN /base/vpn.creds | tr = \ 
$VPN_LOGIN_CMD
$VPN_CONN_CMD
$VPN_STATUS_CMD
echo 'continue?' && read A

# mk ssh conns to farm
# ssh-keygen -f /root/.ssh/id_rsa -q -N "" 
# $(dirname "$0")/upd_silent_ids

/base/upd_hosts
/usr/bin/zsh

